/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;

  /*Rarety*/
  --rarety-common: #6c757d;
  --rarety-common-lighter: #AFAFAF;
  --rarety-common-rgb: 108,117,125;
  --rarety-common-lighter-rgb: 175,175,175;
  --rarety-uncommon: #00c400;
  --rarety-uncommon-lighter: #43E324;
  --rarety-uncommon-rgb: 0,196,0;
  --rarety-uncommon-lighter-rgb: 67,227,36;
  --rarety-rare: #0070D8;
  --rarety-rare-lighter: #238EDF;
  --rarety-rare-rgb: 0,112,216;
  --rarety-rare-lighter-rgb: 35,142,223;
  --rarety-epic: #7D00C5;
  --rarety-epic-lighter: #AF23DF;
  --rarety-epic-rgb: 125,0,197;
  --rarety-epic-lighter-rgb: 175,35,223;
  --rarety-legendary: #E07800;
  --rarety-legendary-lighter: #FF9E00;
  --rarety-legendary-rgb: 224,120,0;
  --rarety-legendary-lighter-rgb: 255,158,0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

*[fill^="#F00"].critical-life {
  animation: critical-red 2s ease infinite;
}

*[fill^="#0F0"].critical-life {
  animation: critical-green 2s ease infinite;
}

@keyframes critical-red {
  0% {
      fill: #F00F;
  }

  50% {
      fill: #F005;
  }

  100% {
      fill: #F00F;
  }
}

@keyframes critical-green {
  0% {
      fill: #0F0F;
  }

  50% {
      fill: #0F05;
  }

  100% {
      fill: #0F0F;
  }
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #0000;
}

*::-webkit-scrollbar-thumb {
  background: #6c757d;
}

body > #app > main {
  height: calc(100vh - 75px);
  overflow-y: auto;
}

html[data-bs-theme="dark"] div.svgMap-map-wrapper {
  background: #134474 !important;
}
